In [1]:
import pandas as pd

!wget https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/graphing.py
!wget https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/doggy-boot-harness.csv

# Read the text file containing data using pandas
df = pd.read_csv('doggy-boot-harness.csv')

# Print the data

df.head()

--2021-09-14 21:23:28--  https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/graphing.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 21511 (21K) [text/plain]
Saving to: ‘graphing.py.2’

graphing.py.2       100%[===================>]  21.01K  --.-KB/s    in 0.001s

2021-09-14 21:23:28 (36.3 MB/s) - ‘graphing.py.2’ saved [21511/21511]

--2021-09-14 21:23:28--  https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/doggy-boot-harness.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 838 [text/plain]
Saving to: ‘doggy-boot-harness.csv.2’

doggy-boot-harness. 100%[===================>]     838  --.-KB/s    in 0s

2021-09-14 21:23:28 (21.6 MB/s) - ‘doggy-boot-harness.csv.2’ saved [838/838]

   boot_size  harness_size     sex  age_years
0         39            58    male       12.0
1         38            58    male        9.6
2         37            52  female        8.6
3         39            58    male       10.2
4         38            57    male        7.8

In [2]:
print("Harness Sizes")
print(df.harness_size)

Harness Sizes
0     58
1     58
2     52
3     58
4     57
5     52
6     55
7     53
8     49
9     54
10    59
11    56
12    53
13    58
14    57
15    58
16    56
17    51
18    50
19    59
20    59
21    59
22    55
23    50
24    55
25    52
26    53
27    54
28    61
29    56
30    55
31    60
32    57
33    56
34    61
35    58
36    53
37    57
38    57
39    55
40    60
41    51
42    52
43    56
44    55
45    57
46    58
47    57
48    51
49    59
Name: harness_size, dtype: int64

In [3]:
# Remove the sex and age-in-years columns.
df.drop(columns=['sex','age_years'], inplace=True)

In [4]:
# Print the column names
print("\nUpdated dataset:")
print(df.columns.values)

Updated dataset:
['boot_size' 'harness_size']

In [5]:
# Print the data at the top of the table
print("TOP OF TABLE")
print(df.head())

# print the data at the bottom of the table
print("\nBOTTOM OF TABLE")
print(df.tail())

TOP OF TABLE
   boot_size  harness_size
0         39            58
1         38            58
2         37            52
3         39            58
4         38            57

BOTTOM OF TABLE
    boot_size  harness_size
45         41            57
46         39            58
47         39            57
48         35            51
49         39            59

In [6]:
#Print amount of rows
print(f"There are {len(df)} rows in dataset")

There are 50 rows in dataset

In [7]:
#Printing all harnesses smaller after putting them into a variable
smaller = df.harness_size < 55
print("\nDogs harnesses below 55cm:")
print(smaller)

#Make a dataset for the smaller harnesses
df_smaller = df[smaller]
print("\nDataset for harnesses below 55cm:")
print(df_smaller)

#Print the number of them
print(f"\nNumber of dogs with sizes less than 55: {len(df_smaller)}")

Dogs harnesses below 55cm:
0     False
1     False
2      True
3     False
4     False
5      True
6     False
7      True
8      True
9      True
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17     True
18     True
19    False
20    False
21    False
22    False
23     True
24    False
25     True
26     True
27     True
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36     True
37    False
38    False
39    False
40    False
41     True
42     True
43    False
44    False
45    False
46    False
47    False
48     True
49    False
Name: harness_size, dtype: bool

Dataset for harnesses below 55cm:
    boot_size  harness_size
2          37            52
5          35            52
7          36            53
8          35            49
9          40            54
12         38            53
17         36            51
18         35            50
23         35            50
25         36            52
26         35            53
27         39            54
36         36            53
41         35            51
42         36            52
48         35            51

Number of dogs with sizes less than 55: 16

In [8]:
#Make a copy of the original df for boots below 40
df_smaller_paws = df[df.boot_size < 40].copy()

#Print info from the new dataframe
print(f"We have {len(df_smaller_paws)} rows in the new dataset. The last few rows are:")
df_smaller_paws.tail()

We have 34 rows in the new dataset. The last few rows are:

    boot_size  harness_size
42         36            52
46         39            58
47         39            57
48         35            51
49         39            59

In [9]:
#Load plotly and create graph
import plotly.express
import graphing

#plotly.express.scatter(df_smaller_paws, x="harness_size", y="boot_size")

In [10]:
#Just created a new column of imperial harness measurements and graphed it
df_smaller_paws['harness_size_imperial'] = df_smaller_paws.harness_size / 2.54

#plotly.express.scatter(df_smaller_paws, x="harness_size_imperial", y="boot_size")